.entity-summary-child {
  position: absolute;
  top: 189px;
  left: 1102px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-top: 3px solid var(--revx-blue);
  box-sizing: border-box;
  width: 298px;
  height: 430px;
}
.delinquent-notice {
  position: relative;
  color: var(--revx-blue);
}
.container,
.frame-div,
.group,
.parent1,
.parent2 {
  position: absolute;
  top: 266px;
  left: 1117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container,
.frame-div,
.parent1,
.parent2 {
  top: 340px;
}
.frame-div,
.parent1,
.parent2 {
  top: 414px;
}
.parent1,
.parent2 {
  top: 488px;
}
.parent2 {
  top: 562px;
}
.vector-icon3 {
  position: relative;
  width: 18px;
  height: 16px;
}
.correspondence {
  position: relative;
  letter-spacing: 0.01em;
}
.vector-parent {
  position: absolute;
  top: 208px;
  left: 1117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-gray-100);
}
.entity-summary-item {
  position: absolute;
  top: 189px;
  left: 112px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-top: 3px solid var(--revx-blue);
  box-sizing: border-box;
  width: 518px;
  height: 430px;
}
.business {
  position: relative;
  color: var(--color-gray-100);
}
.type-group {
  position: absolute;
  top: 266px;
  left: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.fti,
.vector-icon4 {
  position: relative;
}
.vector-icon4 {
  width: 12.19px;
  height: 16px;
}
.fti-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-child {
  position: relative;
  width: 34.5px;
  height: 21px;
}
.commence-date-parent,
.frame-group {
  position: absolute;
  left: 132px;
  display: flex;
  justify-content: flex-start;
}
.frame-group {
  top: 552px;
  flex-direction: row;
  align-items: flex-end;
  font-size: 18px;
}
.commence-date-parent {
  top: 339px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.incorpreg-date-parent,
.naics-code-parent,
.ownership-type-parent,
.regn-confirmation-parent,
.regn-source-parent,
.restricted-parent,
.status-group {
  position: absolute;
  top: 412px;
  left: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.incorpreg-date-parent,
.naics-code-parent,
.ownership-type-parent,
.regn-confirmation-parent,
.restricted-parent,
.status-group {
  top: 486px;
}
.incorpreg-date-parent,
.naics-code-parent,
.ownership-type-parent,
.restricted-parent,
.status-group {
  top: 261px;
  left: 302px;
}
.incorpreg-date-parent,
.naics-code-parent,
.ownership-type-parent,
.restricted-parent {
  top: 334px;
}
.incorpreg-date-parent,
.naics-code-parent,
.restricted-parent {
  top: 407px;
  left: 301px;
}
.naics-code-parent,
.restricted-parent {
  top: 481px;
  left: 302px;
}
.naics-code-parent {
  top: 261px;
  left: 472px;
}
.div26 {
  position: relative;
  font-size: 22px;
  color: var(--color-gray-100);
}
.cease-date-parent,
.paperless-parent,
.state-of-incorpreg-date-parent {
  position: absolute;
  top: 334px;
  left: 472px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.paperless-parent,
.state-of-incorpreg-date-parent {
  top: 407px;
}
.paperless-parent {
  top: 481px;
}
.vector-icon5 {
  position: relative;
  width: 19.09px;
  height: 14px;
}
.vector-group {
  position: absolute;
  top: 210px;
  left: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-gray-100);
}
.entity-summary-inner {
  position: absolute;
  top: 189px;
  left: 662px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-top: 3px solid var(--revx-blue);
  box-sizing: border-box;
  width: 408px;
  height: 430px;
}
.edit-calendar-icon {
  position: absolute;
  top: 26px;
  right: -6px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div27 {
  position: absolute;
  top: 10px;
  left: 12.91px;
  letter-spacing: 0.4px;
  line-height: 56px;
}
.mui-date-picker-child {
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 375px;
  height: 56px;
}
.financials-through {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.fieldset-label {
  position: absolute;
  top: calc(50% - 35px);
  left: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-10xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.mui-date-picker {
  position: absolute;
  top: 261px;
  left: 674px;
  width: 358px;
  height: 66px;
  font-size: var(--component-alert-title-size);
  color: var(--color-darkslategray);
}
.vector-icon6 {
  position: relative;
  width: 16.55px;
  height: 14px;
}
.chevron-left1 {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.chevron-right-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.statement {
  position: relative;
  letter-spacing: 0.04em;
}
.text-button2 {
  position: absolute;
  top: 203px;
  left: 932px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 119px;
  height: 41px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--revx-blue);
}
.chevron-left-icon2 {
  position: relative;
  width: 19px;
  height: 19px;
  display: none;
}
.button5 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.primary-button1 {
  position: absolute;
  top: 512px;
  left: 853px;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--component-alert-title-size);
  color: var(--white);
}
.frame-item {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 179px;
  height: 150px;
}
.balance,
.interest,
.penalty,
.tax {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 11px;
  flex-shrink: 0;
}
.balance,
.interest,
.penalty {
  width: 53px;
}
.balance,
.interest {
  width: 55px;
}
.balance {
  width: 57px;
}
.tax-parent {
  position: absolute;
  top: 25px;
  left: 105px;
  width: 57px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.div28,
.div30 {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 11px;
  flex-shrink: 0;
}
.div30 {
  width: 84px;
}
.parent3 {
  position: absolute;
  top: 25px;
  left: 190px;
  width: 84px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  text-align: left;
}
.frame-inner,
.line-div {
  position: absolute;
  top: -0.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 375px;
  height: 1px;
}
.line-div {
  top: 159.5px;
}
.rectangle-parent1 {
  position: absolute;
  top: 342px;
  left: 674px;
  width: 375px;
  height: 160px;
  text-align: right;
  font-size: var(--component-alert-title-size);
  color: var(--color-gray-100);
}
.vector-icon7 {
  position: relative;
  width: 21px;
  height: 14px;
}
.primary-button2,
.vector-container {
  position: absolute;
  top: 210px;
  left: 675px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-gray-100);
}
.primary-button2 {
  top: 704px;
  left: 1274px;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-9xs);
  font-size: var(--component-alert-title-size);
  color: var(--white);
}
.square {
  position: relative;
  line-height: 56px;
}
.header {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
}
.column8,
.header,
.header1 {
  display: flex;
  justify-content: flex-start;
}
.column8 {
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dimgray);
  font-family: var(--font-font-awesome-6-pro);
}
.header1 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  color: var(--color-gray-100);
}
.bit {
  position: relative;
  text-decoration: underline;
  line-height: 38px;
}
.column9 {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -8px;
  color: var(--revx-blue);
}
.ok {
  position: relative;
  line-height: 38px;
}
.column10,
.column11 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -8px;
}
.column11 {
  width: 112px;
}
.name {
  position: relative;
  line-height: 56px;
  font-weight: 600;
}
.column12,
.column14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -8px;
}
.column14 {
  flex: 1;
}
.header8 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  color: var(--color-gray-100);
}
.column16,
.header8,
.row60 {
  display: flex;
  justify-content: flex-start;
}
.row60 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
}
.column16 {
  width: 146px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -8px;
  color: var(--color-darkslategray);
}
.header9 {
  text-align: right;
  color: var(--color-gray-100);
}
.header9,
.row65 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-end;
}
.column17,
.table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column17 {
  width: 111px;
  flex-direction: column;
  margin-left: -8px;
  color: var(--color-darkslategray);
}
.table {
  position: absolute;
  top: 751px;
  left: 112px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1288px;
  overflow: hidden;
  flex-direction: row;
  color: var(--color-gray-100);
}
.group-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  background-color: var(--white);
}
.priority1 {
  position: absolute;
  top: 31.58%;
  left: 100%;
  line-height: 20px;
  font-weight: 300;
}
.toggle-child,
.toggle-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkgray);
}
.toggle-item {
  height: 80.95%;
  width: 34.96%;
  top: 9.52%;
  right: 60.93%;
  bottom: 9.52%;
  left: 4.11%;
  background-color: var(--white);
}
.priority-group,
.toggle {
  position: absolute;
  height: 100%;
  width: 88%;
  top: 0;
  right: 12%;
  bottom: 0;
  left: 0;
}
.priority-group {
  height: 6.62%;
  width: 20.75%;
  top: 26.83%;
  right: 72.61%;
  bottom: 66.55%;
  left: 6.64%;
}
.id3 {
  position: absolute;
  top: 31.58%;
  left: 78.69%;
  line-height: 20px;
  font-weight: 300;
}
.toggle-child1,
.toggle-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--revx-blue);
}
.toggle-child1 {
  height: 80.95%;
  width: 34.96%;
  top: 9.52%;
  right: 4.11%;
  bottom: 9.52%;
  left: 60.93%;
  background-color: var(--white);
}
.id-group,
.toggle1 {
  position: absolute;
  height: 100%;
  width: 72.13%;
  top: 0;
  right: 27.87%;
  bottom: 0;
  left: 0;
}
.id-group {
  height: 6.62%;
  width: 25.31%;
  top: 18.12%;
  right: 68.05%;
  bottom: 75.26%;
  left: 6.64%;
}
.due-date1 {
  position: absolute;
  top: 31.58%;
  left: 45.45%;
  line-height: 20px;
  font-weight: 300;
}
.due-date-group,
.toggle2 {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
}
.due-date-group {
  height: 6.62%;
  width: 45.64%;
  top: 35.54%;
  right: 47.72%;
  bottom: 57.84%;
  left: 6.64%;
}
.wf-type1 {
  position: absolute;
  top: 31.58%;
  left: 47.06%;
  line-height: 20px;
  font-weight: 300;
}
.toggle3,
.wf-type-group {
  position: absolute;
  height: 100%;
  width: 43.14%;
  top: 0;
  right: 56.86%;
  bottom: 0;
  left: 0;
}
.wf-type-group {
  height: 6.62%;
  width: 42.32%;
  top: 44.25%;
  right: 51.04%;
  bottom: 49.13%;
  left: 6.64%;
}
.wf-subtype1 {
  position: absolute;
  top: 31.58%;
  left: 40%;
  line-height: 20px;
  font-weight: 300;
}
.toggle4 {
  position: absolute;
  height: 100%;
  width: 35.2%;
  top: 0;
  right: 64.8%;
  bottom: 0;
  left: 0;
}
.wf-subtype-group {
  position: absolute;
  height: 6.62%;
  width: 51.87%;
  top: 52.96%;
  right: 41.49%;
  bottom: 40.42%;
  left: 6.64%;
}
.domain1 {
  position: absolute;
  top: 31.58%;
  left: 50.51%;
  line-height: 20px;
  font-weight: 300;
}
.domain-group,
.toggle5 {
  position: absolute;
  height: 100%;
  width: 44.44%;
  top: 0;
  right: 55.56%;
  bottom: 0;
  left: 0;
}
.domain-group {
  height: 6.62%;
  width: 41.08%;
  top: 61.67%;
  right: 52.28%;
  bottom: 31.71%;
  left: 6.64%;
}
.queue-name1 {
  position: absolute;
  top: 31.58%;
  left: 38.17%;
  line-height: 20px;
  font-weight: 300;
}
.toggle6 {
  position: absolute;
  height: 100%;
  width: 33.59%;
  top: 0;
  right: 66.41%;
  bottom: 0;
  left: 0;
}
.queue-name-group {
  position: absolute;
  height: 6.62%;
  width: 54.36%;
  top: 70.38%;
  right: 39%;
  bottom: 23%;
  left: 6.64%;
}
.step1 {
  position: absolute;
  top: 26.32%;
  left: 64.1%;
  line-height: 20px;
  font-weight: 300;
}
.step-group,
.toggle7 {
  position: absolute;
  height: 100%;
  width: 56.41%;
  top: 0;
  right: 43.59%;
  bottom: 0;
  left: 0;
}
.step-group {
  height: 6.62%;
  width: 32.37%;
  top: 79.09%;
  right: 61%;
  bottom: 14.29%;
  left: 6.64%;
}
.status4 {
  position: absolute;
  top: 26.32%;
  left: 55.56%;
  line-height: 20px;
  font-weight: 300;
}
.toggle8 {
  position: absolute;
  height: 100%;
  width: 48.89%;
  top: 0;
  right: 51.11%;
  bottom: 0;
  left: 0;
}
.status-container {
  position: absolute;
  height: 6.62%;
  width: 37.34%;
  top: 87.8%;
  right: 56.02%;
  bottom: 5.57%;
  left: 6.64%;
}
.find-column1 {
  position: absolute;
  top: 4px;
  left: 8px;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 89px;
}
.filter-input-item,
.filter-input1 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 233px;
  height: 0;
}
.filter-input1 {
  height: 9.76%;
  width: 96.68%;
  top: 2.79%;
  right: 1.66%;
  bottom: 87.46%;
  left: 1.66%;
}
.rectangle-parent2 {
  position: absolute;
  height: 521.82%;
  width: 47.91%;
  top: 0;
  right: 52.09%;
  bottom: -421.82%;
  left: 0;
  opacity: 0;
}
.group-child5,
.group-child6 {
  position: absolute;
  width: 95.89%;
  top: 44.66%;
  right: 2.06%;
  left: 2.06%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.group-child6 {
  width: 30.08%;
  right: 67.87%;
}
.filter-value1,
.value1 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
}
.filter-value1 {
  font-size: var(--semi-bold-paragraph-small-size);
}
.value-dropdown1 {
  position: absolute;
  height: 36.89%;
  width: 36.5%;
  top: 6.8%;
  right: 2.06%;
  bottom: 56.31%;
  left: 61.44%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xs);
}
.trash-delete-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.text-button3,
.text-button4 {
  position: absolute;
  height: 39.81%;
  width: 31.11%;
  top: 52.43%;
  right: 3.6%;
  bottom: 7.77%;
  left: 65.3%;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--revx-blue);
}
.text-button4 {
  width: 29.31%;
  right: 67.35%;
  left: 3.34%;
}
.drop-down-text16,
.drop-down-text17 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text16 {
  top: 4px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text17 {
  top: 30px;
}
.drop-down-text17,
.drop-down-text18,
.drop-down-text19 {
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text18 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text19 {
  top: 82px;
}
.drop-down-text19,
.drop-down-text20,
.drop-down-text21 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text20 {
  top: 108px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text21 {
  top: 134px;
}
.drop-down-text21,
.drop-down-text22,
.drop-down-text23 {
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text22 {
  position: absolute;
  top: 160px;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text23 {
  top: 186px;
}
.drop-down-text23,
.drop-down-text24,
.dropdown-content1 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text24 {
  top: 212px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-content1 {
  top: 0;
  background-color: var(--white);
  height: 242px;
  opacity: 0;
}
.operator3 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 89px;
}
.caret-down-icon2 {
  position: relative;
  width: 19px;
  height: 19px;
}
.id4 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 80px;
  flex-shrink: 0;
}
.caret-down-container,
.operator-dropdown1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--semi-bold-paragraph-small-size);
}
.operator-dropdown1 {
  position: absolute;
  height: 84.21%;
  width: 94.5%;
  top: 7.89%;
  right: 2.75%;
  bottom: 7.89%;
  left: 2.75%;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-xs);
}
.operator2 {
  position: absolute;
  height: 36.89%;
  width: 28.02%;
  top: 6.8%;
  right: 69.92%;
  bottom: 56.31%;
  left: 2.06%;
}
.group-child7 {
  position: absolute;
  top: 190px;
  left: 0;
  background-color: var(--white);
  width: 109px;
  height: 190px;
}
.drop-down-text28,
.drop-down-text29,
.drop-down-text30,
.drop-down-text31 {
  position: absolute;
  top: 82px;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.drop-down-text29,
.drop-down-text30,
.drop-down-text31 {
  top: 108px;
}
.drop-down-text30,
.drop-down-text31 {
  top: 134px;
}
.drop-down-text31 {
  top: 160px;
}
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 109px;
  height: 190px;
  opacity: 0;
}
.contain-dropdown1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
}
.contains3 {
  position: absolute;
  height: 36.89%;
  width: 28.02%;
  top: 6.8%;
  right: 40.62%;
  bottom: 56.31%;
  left: 31.36%;
}
.rectangle-parent3 {
  position: absolute;
  height: 187.27%;
  width: 77.34%;
  top: 0;
  right: 0;
  bottom: -87.27%;
  left: 22.66%;
  opacity: 0;
}
.columns1 {
  position: absolute;
  top: 29.17%;
  left: 32.65%;
  line-height: 38px;
  text-transform: uppercase;
}
.view-column-icon1 {
  position: absolute;
  height: 100%;
  width: 24.49%;
  top: 0;
  right: 75.51%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.columns-group {
  position: relative;
  width: 98px;
  height: 24px;
}
.filters1 {
  position: absolute;
  top: 29.17%;
  left: 38.55%;
  line-height: 38px;
  text-transform: uppercase;
}
.filter-list-icon1 {
  position: absolute;
  height: 100%;
  width: 28.92%;
  top: 0;
  right: 71.08%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.filters-group {
  position: relative;
  width: 83px;
  height: 24px;
}
.density1 {
  position: absolute;
  top: 29.17%;
  left: 35.96%;
  line-height: 38px;
  text-transform: uppercase;
}
.density-medium-icon1 {
  position: absolute;
  height: 100%;
  width: 26.97%;
  top: 0;
  right: 73.03%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.density-group {
  position: relative;
  width: 89px;
  height: 24px;
}
.export1 {
  position: absolute;
  top: 29.17%;
  left: 38.1%;
  line-height: 38px;
  text-transform: uppercase;
}
.file-download-icon1 {
  position: absolute;
  height: 100%;
  width: 28.57%;
  top: 0;
  right: 71.43%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.export-group {
  position: relative;
  width: 84px;
  height: 24px;
}
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.filter-bar1 {
  position: absolute;
  top: 696px;
  left: 112px;
  width: 503px;
  height: 55px;
  color: var(--color-gray-100);
}
.vector-icon8 {
  position: relative;
  width: 20px;
  height: 18px;
}
.primary-button3,
.vector-parent1 {
  position: absolute;
  top: 658px;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-gray-100);
}
.primary-button3 {
  top: 1110px;
  left: 1205px;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-9xs);
  font-size: var(--component-alert-title-size);
  color: var(--white);
}
.filter-bar2 {
  position: absolute;
  top: 1103px;
  left: 112px;
  width: 503px;
  height: 55px;
  color: var(--color-gray-100);
}
.column18,
.column19 {
  flex-direction: column;
}
.column18 {
  width: 96px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column19 {
  width: 148px;
}
.column19,
.column20,
.column21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column20 {
  width: 160px;
  flex-direction: column;
}
.column21 {
  width: 194px;
}
.column21,
.column22,
.column23 {
  flex-direction: column;
}
.column22 {
  width: 306px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column23 {
  width: 142px;
}
.column23,
.column24,
.table1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column24 {
  flex: 1;
  flex-direction: column;
}
.table1 {
  position: absolute;
  top: 1157px;
  left: 112px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1288px;
  overflow: hidden;
  flex-direction: row;
  color: var(--color-gray-100);
}
.vector-icon9 {
  position: relative;
  width: 19px;
  height: 15px;
}
.vector-parent2 {
  top: 1068px;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-gray-100);
}
.border,
.value3,
.vector-parent2 {
  position: absolute;
}
.border {
  height: 84.85%;
  width: 100%;
  top: 15.15%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
}
.value3 {
  top: calc(50% - 23px);
  left: 13px;
  letter-spacing: 0.4px;
  line-height: 56px;
}
.fieldset-label1 {
  position: absolute;
  top: calc(50% - 34px);
  left: 10px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-10xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.caret-down-icon6 {
  position: absolute;
  top: calc(50% - 8px);
  right: 14px;
  width: 19px;
  height: 19px;
}
.mui-select-list,
.primary-button4 {
  position: absolute;
  font-size: var(--component-alert-title-size);
}
.mui-select-list {
  top: 1388px;
  left: 112px;
  width: 376px;
  height: 66px;
  color: var(--color-darkslategray);
}
.primary-button4 {
  top: 1465px;
  left: 1237px;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--white);
}
.group-icon {
  position: relative;
  width: 17.85px;
  height: 16px;
}
.group-parent2 {
  position: absolute;
  top: 1355px;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-gray-100);
}
.entity-summary-child1,
.entity-summary-child2,
.entity-summary-child3 {
  position: absolute;
  top: 639.5px;
  left: 110.5px;
  border-top: 3px solid var(--revx-blue);
  box-sizing: border-box;
  width: 1291px;
  height: 3px;
}
.entity-summary-child2,
.entity-summary-child3 {
  top: 1046.5px;
}
.entity-summary-child3 {
  top: 1335.5px;
}
.icon1 {
  position: absolute;
  top: 10px;
  left: 91.99px;
  width: 9.99px;
  height: 6.02px;
}
.user-name1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 24px;
}
.parent4 {
  position: relative;
  width: 101.98px;
  height: 24px;
}
.user-account3 {
  position: absolute;
  top: 0;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-account2 {
  position: absolute;
  height: 14.37%;
  width: 178.4%;
  top: 0;
  right: 0;
  bottom: 85.63%;
  left: -78.4%;
}
.account-drop-down-item,
.dropdown-label-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 125px;
}
.account-drop-down-item {
  border-radius: var(--br-8xs);
  height: 143px;
}
.dropdown-label-child3 {
  height: 25px;
}
.dropdown5 {
  position: absolute;
  top: 3px;
  left: 13px;
  line-height: 20px;
  font-weight: 300;
}
.dropdown-label5,
.dropdown-label6,
.dropdown-label7 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 125px;
  height: 25px;
}
.dropdown-label6,
.dropdown-label7 {
  top: 33px;
}
.dropdown-label7 {
  top: 58px;
}
.account-drop-down1,
.dropdown-label8,
.dropdown-label9 {
  position: absolute;
  top: 83px;
  left: 0;
  width: 125px;
  height: 25px;
}
.account-drop-down1,
.dropdown-label9 {
  top: 108px;
}
.account-drop-down1 {
  height: 0.6%;
  width: 100%;
  top: 14.37%;
  right: 0;
  bottom: 85.03%;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-darkslategray);
}
.acct-dropdown-menu1 {
  position: absolute;
  height: 39.06%;
  width: 9.19%;
  top: 31.25%;
  right: 2.94%;
  bottom: 29.69%;
  left: 87.87%;
  font-size: var(--component-alert-title-size);
}
.bookmark-icon1,
.circle-question-icon1 {
  position: absolute;
  height: 25%;
  width: 0.88%;
  top: 35.94%;
  right: 13.9%;
  bottom: 39.06%;
  left: 85.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.circle-question-icon1 {
  width: 1.18%;
  right: 17.13%;
  left: 81.69%;
}
.all1,
.div54 {
  position: absolute;
  text-transform: uppercase;
}
.all1 {
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 500;
}
.div54 {
  top: 1px;
  left: 37px;
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  font-family: var(--font-font-awesome-6-pro);
}
.all-group {
  position: relative;
  width: 47px;
  height: 20px;
}
.search-child,
.search1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.search-child {
  width: 100%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.search1 {
  width: 22.77%;
  left: 77.23%;
}
.search-field1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 260px;
  height: 40px;
}
.start-typing1 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-container {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--rsi-blue);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field1 {
  position: absolute;
  height: 100%;
  width: 74.93%;
  top: 0;
  right: 25.07%;
  bottom: 0;
  left: 0;
  font-size: var(--component-alert-title-size);
}
.quick-search1 {
  position: absolute;
  height: 62.5%;
  width: 25.51%;
  top: 20.31%;
  right: 37.21%;
  bottom: 17.19%;
  left: 37.28%;
}
.revenue2,
.transaction1 {
  position: relative;
  line-height: 20px;
}
.transaction1 {
  color: var(--white);
}
.breadcrumbs1 {
  position: absolute;
  top: calc(50% - 11px);
  left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-lightgray);
}
.application-header-v31 {
  position: fixed;
  top: 0;
  left: 80px;
  width: 1360px;
  height: 64px;
  text-align: center;
  color: var(--white);
}
.paper-level-3,
.paper-level-3-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.paper-level-3-child {
  height: 100%;
  bottom: 0;
  background-color: var(--white);
  box-shadow: var(--paper-level-3);
}
.paper-level-3 {
  height: 98.94%;
  bottom: 1.06%;
}
.account3 {
  position: relative;
  font-weight: 300;
}
.back-to-previous1 {
  position: relative;
  font-size: var(--semi-bold-paragraph-small-size);
  line-height: 20px;
  color: var(--revx-blue);
}
.header-title {
  width: 115px;
  height: 93px;
  display: flex;
  flex-direction: column;
  padding: 22px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.fa6-solidbuilding-user-icon {
  position: relative;
  width: 25px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.fa6-solidbuilding-user-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.ellipse-div {
  position: relative;
  border-radius: 50%;
  background-color: var(--revx-blue);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  z-index: 0;
}
.div55,
.ellipse-parent {
  position: absolute;
  display: flex;
  align-items: center;
}
.div55 {
  margin: 0 !important;
  top: 1px;
  left: 1px;
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: center;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  z-index: 1;
}
.ellipse-parent {
  top: 0;
  left: 33px;
  flex-direction: row;
  justify-content: flex-start;
}
.header-icon {
  position: relative;
  width: 54px;
  height: 52px;
}
.header-icon-wrapper {
  width: 54px;
  height: 92px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--white);
}
.ind {
  position: absolute;
  top: 26px;
  left: 0;
  line-height: 20px;
  color: var(--color-darkslategray);
}
.type-container {
  position: relative;
  width: 30px;
  height: 46px;
}
.primary-id {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
}
.primary-id-parent {
  position: relative;
  width: 110px;
  height: 46px;
}
.commence-date-group,
.name-parent {
  position: relative;
  width: 85px;
  height: 46px;
}
.commence-date-group {
  width: 104px;
}
.content-wrapper {
  width: 577px;
  height: 94px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--semi-bold-paragraph-small-size);
}
.warning-icon {
  position: relative;
  width: 22.02px;
  height: 19.25px;
}
.warning-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  position: relative;
  width: 38px;
  height: 34px;
}
.this-is-a,
.warning {
  position: relative;
  line-height: 20px;
}
.warning {
  letter-spacing: 0.01em;
  font-weight: 600;
  display: none;
}
.this-is-a {
  font-size: var(--semi-bold-paragraph-small-size);
}
.warning-parent {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.alert-info,
.group-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.alert-info {
  border-radius: var(--br-9xs);
  background-color: #fcedc7;
  border: 1px solid var(--color-darkgoldenrod);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-base);
  align-items: flex-start;
}
.button-group,
.header-title-parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.button-group {
  width: 294px;
  height: 93px;
  padding: 24.5px 0;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--component-alert-title-size);
  color: var(--color-darkgoldenrod);
}
.header-title-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1360px;
  padding: 0 0 0 32px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
}
.page-header1 {
  position: fixed;
  top: 64px;
  left: 80px;
  width: 1360px;
  height: 94px;
  font-size: var(--light-heading-5-size);
  color: var(--rsi-blue);
}
.column26,
.column27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.column26 {
  width: 122px;
  color: var(--revx-blue);
}
.column27 {
  flex: 1;
  color: var(--color-darkslategray);
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-firebrick);
  width: 17px;
  height: 17px;
}
.check-small-icon {
  position: absolute;
  height: 41.47%;
  width: 52.94%;
  top: 31.22%;
  right: 21.72%;
  bottom: 27.31%;
  left: 25.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.row96 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.row-child,
.row-item {
  position: relative;
  width: 17.34px;
  height: 17.34px;
}
.row-item {
  width: 17px;
  height: 17px;
}
.column29 {
  width: 196px;
}
.column29,
.column30,
.column32,
.column33,
.column34,
.table2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.column32,
.column33,
.column34,
.table2 {
  width: 106px;
}
.column33,
.column34,
.table2 {
  width: 152px;
}
.column34,
.table2 {
  width: 112px;
  color: var(--revx-blue);
}
.table2 {
  position: absolute;
  top: 1512px;
  left: 112px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1288px;
  overflow: hidden;
  flex-direction: row;
  color: var(--color-gray-100);
}
.priority4 {
  position: absolute;
  top: 31.58%;
  left: 53.19%;
  line-height: 20px;
  font-weight: 300;
}
.switch-child15,
.switch9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.switch-child15 {
  width: 100%;
  right: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-slategray);
}
.switch9 {
  width: 46.81%;
  right: 53.19%;
}
.priority-parent1 {
  position: absolute;
  height: 6.62%;
  width: 39%;
  top: 26.83%;
  right: 54.36%;
  bottom: 66.55%;
  left: 6.64%;
}
.text-button7,
.text-button8 {
  position: absolute;
  height: 39.81%;
  width: 29.82%;
  top: 52.43%;
  right: 4.24%;
  bottom: 7.77%;
  left: 65.94%;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--revx-blue);
}
.text-button8 {
  width: 28.02%;
  right: 67.99%;
  left: 3.98%;
}
.filter-bar3 {
  position: absolute;
  top: 1454px;
  left: 112px;
  width: 503px;
  height: 55px;
  color: var(--color-gray-100);
}
.property-module-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rsi-blue);
}
.property1 {
  position: absolute;
  top: 70.83%;
  left: 17.5%;
  line-height: 20px;
  font-weight: 300;
}
.property-module-shield1 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module1,
.revenue-module-item {
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-aliceblue);
  border: 1px solid var(--rsi-blue);
  box-sizing: border-box;
}
.revenue3 {
  position: absolute;
  top: 70.83%;
  left: 16.25%;
  line-height: 20px;
}
.revenue-module1 {
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
  color: var(--rsi-blue);
}
.adv-search-button-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div65 {
  position: absolute;
  top: 30%;
  left: 25%;
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
}
.adv-search-button1,
.dashboard-button1 {
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: var(--regular-heading-6-size);
  font-family: var(--font-font-awesome-6-pro);
}
.dashboard-button1 {
  top: 70px;
}
.rev-x-logo-svg1 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation1 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div67 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
}
.bookmarks-button1 {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--light-heading-5-size);
  font-family: var(--font-font-awesome-6-pro);
}
.blue-nav-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 320px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  color: var(--white);
}
.entity-summary {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 2039px;
  overflow: auto;
  text-align: left;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-dimgray-100);
  font-family: var(--semi-bold-paragraph-small);
}
