.my-work-dashboard-v1-child,
.my-work-dashboard-v1-inner,
.my-work-dashboard-v1-item {
  position: absolute;
  top: 267px;
  left: 112px;
  border-radius: var(--br-6xs);
  background-color: var(--white);
  width: 408px;
  height: 210px;
}
.my-work-dashboard-v1-inner,
.my-work-dashboard-v1-item {
  left: 552px;
  width: 518px;
}
.my-work-dashboard-v1-inner {
  left: 1102px;
  width: 298px;
}
.my-work-dashboard-v1-child1 {
  position: absolute;
  top: 300px;
  left: 349px;
  width: 122px;
  height: 122px;
}
.my-work-dashboard-v1-child2 {
  position: absolute;
  top: 288px;
  left: 333px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 155px;
  height: 148px;
}
.my-assigned-work,
.unassigned-work {
  position: absolute;
  top: 862px;
  left: 112px;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.04em;
  color: var(--rsi-blue);
}
.my-assigned-work {
  top: 499px;
}
.chevron-left-icon8 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.button18 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.frame-child2,
.primary-button6 {
  background-color: var(--revx-blue);
}
.primary-button6 {
  position: absolute;
  top: 525px;
  left: 1295px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--component-alert-title-size);
  color: var(--white);
}
.frame-child2 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.ellipse-group {
  position: absolute;
  top: 322px;
  left: 128px;
  width: 43px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-child3 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  width: 8px;
  height: 8px;
}
.closed {
  position: relative;
  line-height: 38px;
  font-weight: 300;
}
.ellipse-container {
  position: absolute;
  top: 344px;
  left: 128px;
  width: 53px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.current-week {
  position: absolute;
  top: 281px;
  left: 128px;
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.01em;
  line-height: 24px;
}
.frame-child4 {
  position: relative;
  border-radius: 50%;
  background-color: var(--light-gray);
  border: 0.3px solid var(--color-slategray);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.ellipse-parent1 {
  position: absolute;
  top: 366px;
  left: 128px;
  width: 81px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-child5 {
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 0.8px solid var(--revx-blue);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.ellipse-parent2 {
  position: absolute;
  top: 388px;
  left: 128px;
  width: 121px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.my-work-dashboard-v1-child3 {
  position: absolute;
  top: 450.5px;
  left: 127.5px;
  width: 377px;
  height: 1px;
}
.daily-average {
  position: absolute;
  top: 280px;
  left: 568px;
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.01em;
  line-height: 24px;
}
.div112,
.div113,
.div114,
.div115,
.xweeks,
.ydays {
  position: absolute;
  top: 437px;
  left: 568px;
  line-height: 20px;
  font-weight: 300;
}
.div112,
.div113,
.div114,
.div115,
.xweeks {
  left: 624px;
}
.div112,
.div113,
.div114,
.div115 {
  top: 321px;
  left: 568px;
  text-align: right;
  display: inline-block;
  width: 9px;
}
.div113,
.div114,
.div115 {
  top: 396px;
}
.div114,
.div115 {
  top: 417px;
  left: 626px;
  width: 10px;
}
.div115 {
  left: 984px;
  width: 18px;
}
.wrapper,
.wrapper1,
.wrapper2,
.wrapper3 {
  position: absolute;
  top: 0;
  left: 32.9px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 0.5px solid var(--revx-blue);
  box-sizing: border-box;
  width: 41.56px;
  height: 19.18px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.wrapper1,
.wrapper2,
.wrapper3 {
  top: 48.92px;
  left: 0;
}
.wrapper2,
.wrapper3 {
  top: 19.18px;
  left: 90.45px;
}
.wrapper3 {
  top: 87.92px;
  left: 69px;
}
.frame-parent1 {
  position: absolute;
  top: 307.08px;
  left: 341px;
  width: 132.01px;
  height: 107.11px;
}
.my-work-dashboard-v1-child4 {
  position: absolute;
  top: 321px;
  left: 592px;
  background: linear-gradient(180deg, rgba(242, 247, 254, 0), #d1d1d2);
  width: 455px;
  height: 92px;
}
.my-work-dashboard-v1-child5,
.my-work-dashboard-v1-child6,
.my-work-dashboard-v1-child7,
.my-work-dashboard-v1-child8,
.my-work-dashboard-v1-child9 {
  position: absolute;
  top: 374px;
  left: 621px;
  background-color: var(--white);
  border: 0.5px solid var(--revx-blue);
  box-sizing: border-box;
  width: 29px;
  height: 40px;
}
.my-work-dashboard-v1-child6,
.my-work-dashboard-v1-child7,
.my-work-dashboard-v1-child8,
.my-work-dashboard-v1-child9 {
  left: 741px;
}
.my-work-dashboard-v1-child7,
.my-work-dashboard-v1-child8,
.my-work-dashboard-v1-child9 {
  top: 395px;
  left: 780px;
  width: 31px;
  height: 19px;
}
.my-work-dashboard-v1-child8,
.my-work-dashboard-v1-child9 {
  top: 348px;
  left: 661px;
  width: 30px;
  height: 66px;
}
.my-work-dashboard-v1-child9 {
  top: 331px;
  left: 701px;
  height: 83px;
}
.my-work-dashboard-v1-child10,
.my-work-dashboard-v1-child11,
.my-work-dashboard-v1-child12,
.my-work-dashboard-v1-child13,
.my-work-dashboard-v1-child14 {
  position: absolute;
  top: 374px;
  left: 821px;
  background-color: var(--white);
  border: 0.5px solid var(--revx-blue);
  box-sizing: border-box;
  width: 29px;
  height: 40px;
}
.my-work-dashboard-v1-child11,
.my-work-dashboard-v1-child12,
.my-work-dashboard-v1-child13,
.my-work-dashboard-v1-child14 {
  left: 938px;
  width: 32px;
}
.my-work-dashboard-v1-child12,
.my-work-dashboard-v1-child13,
.my-work-dashboard-v1-child14 {
  top: 395px;
  left: 979px;
  width: 31px;
  height: 19px;
}
.my-work-dashboard-v1-child13,
.my-work-dashboard-v1-child14 {
  top: 348px;
  left: 860px;
  width: 30px;
  height: 66px;
}
.my-work-dashboard-v1-child14 {
  top: 331px;
  left: 900px;
  width: 29px;
  height: 83px;
}
.my-work-dashboard-v1-child15 {
  position: absolute;
  top: 413px;
  left: 592px;
  background-color: var(--revx-blue);
  width: 455px;
  height: 2px;
}
.my-work-dashboard-v1-child16 {
  position: absolute;
  top: 363.5px;
  left: 595px;
  width: 452px;
  height: 1px;
}
.square11 {
  position: relative;
  line-height: 56px;
}
.header27 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
}
.column37,
.header27,
.header28 {
  display: flex;
  justify-content: flex-start;
}
.column37 {
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dimgray);
  font-family: var(--font-font-awesome-6-pro);
}
.header28 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  color: var(--color-black);
}
.wf0001278514 {
  position: relative;
  text-decoration: underline;
  line-height: 38px;
}
.column38 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--revx-blue);
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-firebrick);
  width: 17px;
  height: 17px;
}
.check-small-icon1 {
  position: absolute;
  height: 41.47%;
  width: 52.94%;
  top: 31.22%;
  right: 21.72%;
  bottom: 27.31%;
  left: 25.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent12 {
  position: relative;
  width: 17px;
  height: 17px;
}
.row142 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.row-child1 {
  position: relative;
  width: 17.34px;
  height: 17.34px;
}
.column39 {
  flex: 1;
}
.column39,
.column41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.work-sub-type {
  position: relative;
  line-height: 56px;
  font-weight: 600;
}
.workitem-subtype {
  position: relative;
  line-height: 38px;
}
.header35 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  color: var(--color-black);
}
.column45,
.header35,
.row172 {
  display: flex;
  justify-content: flex-start;
}
.row172 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
}
.column45 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-gray-100);
}
.header36 {
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-black);
  font-family: var(--semi-bold-paragraph-small);
}
.header36,
.row177 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-end;
}
.column46,
.table3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column46 {
  flex-direction: column;
  text-align: right;
  font-size: var(--component-alert-title-size);
  color: var(--revx-blue);
  font-family: var(--font-font-awesome-6-pro);
}
.table3 {
  position: absolute;
  top: 943px;
  left: 112px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1288px;
  overflow: hidden;
  flex-direction: row;
}
.todays-tasks {
  position: absolute;
  top: 280px;
  left: 1118px;
  line-height: 20px;
}
.div135 {
  position: relative;
  font-weight: 300;
}
.completed,
.work-items-completed {
  position: relative;
  line-height: 20px;
}
.work-items-completed {
  font-weight: 300;
}
.completed-parent,
.parent6,
.parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-black);
}
.parent6,
.parent7 {
  position: absolute;
  top: 323px;
  left: 1187px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--light-heading-3-size);
  color: var(--color-darkgray);
}
.parent7 {
  top: 389px;
}
.layer2-icon,
.white-bg {
  position: absolute;
  top: 329px;
  left: 1140px;
  width: 31px;
  height: 31px;
}
.white-bg {
  top: 198px;
  left: 81px;
  background-color: var(--white);
  width: 1360px;
  height: 42px;
}
.chevron-left-icon9 {
  position: relative;
  width: 19px;
  height: 19px;
  display: none;
}
.button19 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 38px;
}
.text-button9 {
  border-bottom: 2px solid var(--revx-blue);
  box-sizing: border-box;
  height: 41px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--revx-blue);
}
.button20 {
  position: relative;
  letter-spacing: 0.04em;
}
.buttons,
.text-button10 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-button10 {
  height: 41px;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-9xs);
}
.buttons {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-darkgray);
  justify-content: flex-start;
}
.tab-frame {
  position: absolute;
  top: 156px;
  left: 114px;
  width: 356px;
  height: 41px;
  color: var(--color-dimgray);
}
.vector-icon13 {
  position: absolute;
  top: 396px;
  left: 1142px;
  width: 27px;
  height: 29px;
}
.chevron-left-icon12 {
  position: relative;
  width: 25px;
  height: 25px;
  display: none;
}
.button22 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.secondary-button2 {
  position: absolute;
  top: 888px;
  left: 1262px;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--revx-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--component-alert-title-size);
  color: var(--revx-blue);
}
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1288px;
}
.frame-child8 {
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(170, 172, 176, 0.5),
    rgba(170, 172, 176, 0)
  );
  height: 24px;
}
.frame-child9 {
  background: radial-gradient(50% 50%at 50% 50%, #f2f7fe, #f2f7fe);
  height: 12px;
}
.rectangle-parent14 {
  position: absolute;
  top: 822px;
  left: 112px;
  width: 1288px;
  height: 24px;
  opacity: 0.45;
}
.div137,
.rows-per-page {
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  height: 20px;
  flex-shrink: 0;
}
.rows-per-page {
  font-weight: 300;
  width: 95px;
}
.div137 {
  width: 16px;
}
.vector-icon14 {
  position: relative;
  width: 10px;
  height: 5px;
}
.drop-down {
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--revx-blue);
}
.drop-down,
.of-5,
.rows-dropdown {
  display: flex;
  align-items: center;
}
.rows-dropdown {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.of-5 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  width: 48px;
  height: 20px;
  flex-shrink: 0;
}
.previous-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}
.chevron-left-icon13 {
  position: absolute;
  height: 47.5%;
  width: 47.5%;
  top: 20%;
  right: 32.5%;
  bottom: 32.5%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.previous-button {
  position: relative;
  width: 40px;
  height: 40px;
}
.chevron-right-icon24 {
  position: absolute;
  height: 47.5%;
  width: 47.5%;
  top: 20%;
  right: 35%;
  bottom: 32.5%;
  left: 17.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.page-of-total-prev-next,
.prev-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.page-of-total-prev-next {
  gap: var(--gap-xl);
}
.table-pagination {
  top: 1189px;
  left: 1067px;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-13xl);
  color: var(--color-gray-100);
}
.table-pagination,
.table-pagination1,
.table4 {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.table-pagination1 {
  top: 750px;
  left: 1067px;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-13xl);
  color: var(--color-gray-100);
}
.table4 {
  top: 580px;
  left: 112px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1288px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-hover1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  opacity: 0;
}
.row-hover {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  top: 636px;
  left: 112px;
  width: 1287px;
  height: 38px;
  mix-blend-mode: multiply;
}
.row-hover,
.row-hover:hover .row-hover1 {
  background-color: transparent;
}
.group-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  background-color: var(--white);
}
.priority7 {
  position: absolute;
  top: 31.58%;
  left: 53.19%;
  line-height: 20px;
  font-weight: 300;
}
.toggle-child34,
.toggle-child35 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkgray);
}
.toggle-child35 {
  height: 80.95%;
  width: 34.96%;
  top: 9.52%;
  right: 60.93%;
  bottom: 9.52%;
  left: 4.11%;
  background-color: var(--white);
}
.toggle18 {
  position: absolute;
  height: 100%;
  width: 46.81%;
  top: 0;
  right: 53.19%;
  bottom: 0;
  left: 0;
}
.priority-parent2 {
  position: absolute;
  height: 6.62%;
  width: 39%;
  top: 26.83%;
  right: 54.36%;
  bottom: 66.55%;
  left: 6.64%;
}
.id10 {
  position: absolute;
  top: 31.58%;
  left: 78.69%;
  line-height: 20px;
  font-weight: 300;
}
.toggle-child36,
.toggle-child37 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--revx-blue);
}
.toggle-child37 {
  height: 80.95%;
  width: 34.96%;
  top: 9.52%;
  right: 4.11%;
  bottom: 9.52%;
  left: 60.93%;
  background-color: var(--white);
}
.id-parent2,
.toggle19 {
  position: absolute;
  height: 100%;
  width: 72.13%;
  top: 0;
  right: 27.87%;
  bottom: 0;
  left: 0;
}
.id-parent2 {
  height: 6.62%;
  width: 25.31%;
  top: 18.12%;
  right: 68.05%;
  bottom: 75.26%;
  left: 6.64%;
}
.due-date7 {
  position: absolute;
  top: 31.58%;
  left: 45.45%;
  line-height: 20px;
  font-weight: 300;
}
.toggle20 {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
}
.due-date-parent2 {
  position: absolute;
  height: 6.62%;
  width: 45.64%;
  top: 35.54%;
  right: 47.72%;
  bottom: 57.84%;
  left: 6.64%;
}
.wf-type4 {
  position: absolute;
  top: 31.58%;
  left: 47.06%;
  line-height: 20px;
  font-weight: 300;
}
.toggle21,
.wf-type-parent2 {
  position: absolute;
  height: 100%;
  width: 43.14%;
  top: 0;
  right: 56.86%;
  bottom: 0;
  left: 0;
}
.wf-type-parent2 {
  height: 6.62%;
  width: 42.32%;
  top: 44.25%;
  right: 51.04%;
  bottom: 49.13%;
  left: 6.64%;
}
.wf-subtype4 {
  position: absolute;
  top: 31.58%;
  left: 40%;
  line-height: 20px;
  font-weight: 300;
}
.toggle22 {
  position: absolute;
  height: 100%;
  width: 35.2%;
  top: 0;
  right: 64.8%;
  bottom: 0;
  left: 0;
}
.wf-subtype-parent2 {
  position: absolute;
  height: 6.62%;
  width: 51.87%;
  top: 52.96%;
  right: 41.49%;
  bottom: 40.42%;
  left: 6.64%;
}
.domain4 {
  position: absolute;
  top: 31.58%;
  left: 50.51%;
  line-height: 20px;
  font-weight: 300;
}
.domain-parent2,
.toggle23 {
  position: absolute;
  height: 100%;
  width: 44.44%;
  top: 0;
  right: 55.56%;
  bottom: 0;
  left: 0;
}
.domain-parent2 {
  height: 6.62%;
  width: 41.08%;
  top: 61.67%;
  right: 52.28%;
  bottom: 31.71%;
  left: 6.64%;
}
.queue-name6 {
  position: absolute;
  top: 31.58%;
  left: 38.17%;
  line-height: 20px;
  font-weight: 300;
}
.toggle24 {
  position: absolute;
  height: 100%;
  width: 33.59%;
  top: 0;
  right: 66.41%;
  bottom: 0;
  left: 0;
}
.queue-name-parent2 {
  position: absolute;
  height: 6.62%;
  width: 54.36%;
  top: 70.38%;
  right: 39%;
  bottom: 23%;
  left: 6.64%;
}
.step6 {
  position: absolute;
  top: 26.32%;
  left: 64.1%;
  line-height: 20px;
  font-weight: 300;
}
.step-parent2,
.toggle25 {
  position: absolute;
  height: 100%;
  width: 56.41%;
  top: 0;
  right: 43.59%;
  bottom: 0;
  left: 0;
}
.step-parent2 {
  height: 6.62%;
  width: 32.37%;
  top: 79.09%;
  right: 61%;
  bottom: 14.29%;
  left: 6.64%;
}
.status9 {
  position: absolute;
  top: 26.32%;
  left: 55.56%;
  line-height: 20px;
  font-weight: 300;
}
.status-parent3,
.toggle26 {
  position: absolute;
  height: 100%;
  width: 48.89%;
  top: 0;
  right: 51.11%;
  bottom: 0;
  left: 0;
}
.status-parent3 {
  height: 6.62%;
  width: 37.34%;
  top: 87.8%;
  right: 56.02%;
  bottom: 5.57%;
  left: 6.64%;
}
.find-column4 {
  position: absolute;
  top: 4px;
  left: 8px;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 89px;
}
.filter-input-child2,
.filter-input4 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 233px;
  height: 0;
}
.filter-input4 {
  height: 9.76%;
  width: 96.68%;
  top: 2.79%;
  right: 1.66%;
  bottom: 87.46%;
  left: 1.66%;
}
.rectangle-parent16 {
  position: absolute;
  height: 521.82%;
  width: 47.91%;
  top: 0;
  right: 52.09%;
  bottom: -421.82%;
  left: 0;
  opacity: 0;
}
.group-child20,
.group-child21 {
  position: absolute;
  width: 95.89%;
  top: 44.66%;
  right: 2.06%;
  left: 2.06%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.group-child21 {
  width: 30.08%;
  right: 67.87%;
}
.filter-value4 {
  position: relative;
  font-size: var(--semi-bold-paragraph-small-size);
  line-height: 20px;
  font-weight: 300;
}
.value-dropdown4 {
  position: absolute;
  height: 36.89%;
  width: 36.5%;
  top: 6.8%;
  right: 2.06%;
  bottom: 56.31%;
  left: 61.44%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xs);
}
.trash-delete-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
}
.text-button12,
.text-button13 {
  position: absolute;
  height: 39.81%;
  width: 31.11%;
  top: 52.43%;
  right: 3.6%;
  bottom: 7.77%;
  left: 65.3%;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--revx-blue);
}
.text-button13 {
  width: 29.31%;
  right: 67.35%;
  left: 3.34%;
}
.drop-down-text64,
.drop-down-text65 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text64 {
  top: 4px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text65 {
  top: 30px;
}
.drop-down-text65,
.drop-down-text66,
.drop-down-text67 {
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text66 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text67 {
  top: 82px;
}
.drop-down-text67,
.drop-down-text68,
.drop-down-text69 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text68 {
  top: 108px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text69 {
  top: 134px;
}
.drop-down-text69,
.drop-down-text70,
.drop-down-text71 {
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text70 {
  position: absolute;
  top: 160px;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text71 {
  top: 186px;
}
.drop-down-text71,
.drop-down-text72,
.dropdown-content4 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text72 {
  top: 212px;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-content4 {
  top: 0;
  background-color: var(--white);
  height: 242px;
  opacity: 0;
}
.operator9 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 89px;
}
.caret-down-icon13 {
  position: relative;
  width: 19px;
  height: 19px;
}
.id11 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 80px;
  flex-shrink: 0;
}
.caret-down-parent6,
.operator-dropdown4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--semi-bold-paragraph-small-size);
}
.operator-dropdown4 {
  position: absolute;
  height: 84.21%;
  width: 94.5%;
  top: 7.89%;
  right: 2.75%;
  bottom: 7.89%;
  left: 2.75%;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-xs);
}
.operator8 {
  position: absolute;
  height: 36.89%;
  width: 28.02%;
  top: 6.8%;
  right: 69.92%;
  bottom: 56.31%;
  left: 2.06%;
}
.group-child22 {
  position: absolute;
  top: 190px;
  left: 0;
  background-color: var(--white);
  width: 109px;
  height: 190px;
}
.drop-down-text76,
.drop-down-text77,
.drop-down-text78,
.drop-down-text79 {
  position: absolute;
  top: 82px;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.drop-down-text77,
.drop-down-text78,
.drop-down-text79 {
  top: 108px;
}
.drop-down-text78,
.drop-down-text79 {
  top: 134px;
}
.drop-down-text79 {
  top: 160px;
}
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 109px;
  height: 190px;
  opacity: 0;
}
.contain-dropdown4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
}
.contains12 {
  position: absolute;
  height: 36.89%;
  width: 28.02%;
  top: 6.8%;
  right: 40.62%;
  bottom: 56.31%;
  left: 31.36%;
}
.rectangle-parent17 {
  position: absolute;
  height: 187.27%;
  width: 77.34%;
  top: 0;
  right: 0;
  bottom: -87.27%;
  left: 22.66%;
  opacity: 0;
}
.columns4 {
  position: absolute;
  top: 29.17%;
  left: 32.65%;
  line-height: 38px;
  text-transform: uppercase;
}
.view-column-icon4 {
  position: absolute;
  height: 100%;
  width: 24.49%;
  top: 0;
  right: 75.51%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.columns-parent2 {
  position: relative;
  width: 98px;
  height: 24px;
}
.filters4 {
  position: absolute;
  top: 29.17%;
  left: 38.55%;
  line-height: 38px;
  text-transform: uppercase;
}
.filter-list-icon4 {
  position: absolute;
  height: 100%;
  width: 28.92%;
  top: 0;
  right: 71.08%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.filters-parent2 {
  position: relative;
  width: 83px;
  height: 24px;
}
.density4 {
  position: absolute;
  top: 29.17%;
  left: 35.96%;
  line-height: 38px;
  text-transform: uppercase;
}
.density-medium-icon4 {
  position: absolute;
  height: 100%;
  width: 26.97%;
  top: 0;
  right: 73.03%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.density-parent2 {
  position: relative;
  width: 89px;
  height: 24px;
}
.export4 {
  position: absolute;
  top: 29.17%;
  left: 38.1%;
  line-height: 38px;
  text-transform: uppercase;
}
.file-download-icon4 {
  position: absolute;
  height: 100%;
  width: 28.57%;
  top: 0;
  right: 71.43%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.export-parent2 {
  position: relative;
  width: 84px;
  height: 24px;
}
.group-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.filter-bar4,
.filter-bar5 {
  position: absolute;
  top: 888px;
  left: 112px;
  width: 503px;
  height: 55px;
}
.filter-bar5 {
  top: 525px;
}
.paper-level-0-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
}
.paper-level-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1360px;
  height: 69px;
}
.actions,
.primary-button7 {
  position: absolute;
  top: 16px;
  left: 998px;
}
.primary-button7 {
  left: 1221px;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.tab-button4 {
  border-bottom: 2px solid var(--color-slategray);
  box-sizing: border-box;
  height: 41px;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  color: var(--color-darkslategray);
}
.tab-button4,
.tab-button5,
.tab-buttons {
  display: flex;
  flex-direction: row;
}
.tab-button5 {
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  height: 41px;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.tab-buttons {
  position: absolute;
  top: 28px;
  left: 32px;
  height: 40.79px;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--revx-blue);
}
.tab-actions-bar2 {
  position: absolute;
  top: 156px;
  left: 80px;
  width: 1360px;
  height: 69px;
  font-size: var(--component-alert-title-size);
  color: var(--white);
}
.paper-level-2-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: var(--paper-level-2);
}
.paper-level-22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1360px;
  height: 91px;
}
.in-queue {
  position: relative;
  font-size: var(--semi-bold-paragraph-small-size);
  line-height: 20px;
  color: var(--color-gray-100);
  text-align: left;
}
.div148 {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 300;
}
.div149,
.icon3 {
  position: absolute;
}
.icon3 {
  height: 90%;
  width: 100%;
  top: 5%;
  right: 0;
  bottom: 5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div149 {
  width: 44.44%;
  top: 0;
  left: 28.33%;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.priority-badges {
  position: relative;
  width: 20px;
  height: 20px;
}
.priority-badges-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-wrapper1,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
}
.frame-wrapper2 {
  width: 54px;
  align-items: center;
  justify-content: center;
}
.frame-wrapper1 {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--white);
}
.priority-2-shape {
  position: absolute;
  height: 107.5%;
  width: 120%;
  top: 0.52%;
  right: -17.02%;
  bottom: -8.02%;
  left: -2.98%;
  border-radius: var(--br-11xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div151 {
  position: absolute;
  width: 44.44%;
  top: 5%;
  left: 30%;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.medium3 {
  position: relative;
  line-height: 38px;
  text-align: left;
}
.priority-badges-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-gray-100);
}
.priority-badges-child {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 5%;
  right: 0;
  bottom: 5%;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div153 {
  position: absolute;
  top: 0;
  left: 50%;
  line-height: 20px;
  font-weight: 600;
}
.priority-badges2 {
  position: relative;
  width: 18px;
  height: 20px;
}
.normal {
  position: relative;
  line-height: 38px;
  color: var(--color-gray-100);
  text-align: left;
}
.priority-badges-container,
.work-metrics {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.priority-badges-container {
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--white);
}
.work-metrics {
  position: absolute;
  top: 25px;
  left: 423px;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: right;
}
.back-to-previous3 {
  position: absolute;
  top: 53px;
  left: 32px;
  font-size: var(--semi-bold-paragraph-small-size);
  line-height: 20px;
  color: var(--revx-blue);
}
.dashboard {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: var(--light-heading-5-size);
  font-weight: 300;
  color: var(--rsi-blue);
}
.page-header3 {
  position: fixed;
  top: 64px;
  left: 80px;
  width: 1360px;
  height: 91px;
  font-size: var(--font-size-41xl);
  color: var(--color-darkgray);
}
.top-blue-bar3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rsi-blue);
}
.icon4 {
  position: absolute;
  top: 10px;
  left: 91.99px;
  width: 9.99px;
  height: 6.02px;
}
.user-name3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 24px;
}
.parent11 {
  position: relative;
  width: 101.98px;
  height: 24px;
}
.user-account7 {
  position: absolute;
  top: 0;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-account6 {
  position: absolute;
  height: 14.37%;
  width: 178.4%;
  top: 0;
  right: 0;
  bottom: 85.63%;
  left: -78.4%;
}
.account-drop-down-child1,
.dropdown-label-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 125px;
}
.account-drop-down-child1 {
  border-radius: var(--br-8xs);
  height: 143px;
}
.dropdown-label-child13 {
  height: 25px;
}
.dropdown15 {
  position: absolute;
  top: 3px;
  left: 13px;
  line-height: 20px;
  font-weight: 300;
}
.dropdown-label15,
.dropdown-label16,
.dropdown-label17 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 125px;
  height: 25px;
}
.dropdown-label16,
.dropdown-label17 {
  top: 33px;
}
.dropdown-label17 {
  top: 58px;
}
.account-drop-down3,
.dropdown-label18,
.dropdown-label19 {
  position: absolute;
  top: 83px;
  left: 0;
  width: 125px;
  height: 25px;
}
.account-drop-down3,
.dropdown-label19 {
  top: 108px;
}
.account-drop-down3 {
  height: 0.6%;
  width: 100%;
  top: 14.37%;
  right: 0;
  bottom: 85.03%;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-gray-100);
}
.acct-dropdown-menu3 {
  position: absolute;
  height: 39.06%;
  width: 9.19%;
  top: 31.25%;
  right: 2.94%;
  bottom: 29.69%;
  left: 87.87%;
  font-size: var(--component-alert-title-size);
}
.bookmark-icon3,
.circle-question-icon3 {
  position: absolute;
  height: 25%;
  width: 0.88%;
  top: 35.94%;
  right: 13.9%;
  bottom: 39.06%;
  left: 85.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.circle-question-icon3 {
  width: 1.18%;
  right: 17.13%;
  left: 81.69%;
}
.all3,
.div154 {
  position: absolute;
  text-transform: uppercase;
}
.all3 {
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 500;
}
.div154 {
  top: 1px;
  left: 37px;
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  font-family: var(--font-font-awesome-6-pro);
}
.all-parent1 {
  position: relative;
  width: 47px;
  height: 20px;
}
.search-inner2,
.search3 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.search-inner2 {
  width: 100%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--revx-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.search3 {
  width: 22.77%;
  left: 77.23%;
}
.search-field4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 260px;
  height: 40px;
}
.start-typing4 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-wrapper2 {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--rsi-blue);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field15 {
  position: absolute;
  height: 100%;
  width: 74.93%;
  top: 0;
  right: 25.07%;
  bottom: 0;
  left: 0;
  font-size: var(--component-alert-title-size);
}
.quick-search3 {
  position: absolute;
  height: 62.5%;
  width: 25.51%;
  top: 20.31%;
  right: 37.21%;
  bottom: 17.19%;
  left: 37.28%;
}
.divider9,
.transaction3 {
  position: relative;
  line-height: 20px;
}
.divider9 {
  display: none;
}
.transaction3 {
  color: var(--white);
}
.breadcrumbs3 {
  position: absolute;
  top: calc(50% - 11px);
  left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-lightgray);
}
.application-header-v33 {
  position: fixed;
  top: 0;
  left: 80px;
  width: 1360px;
  height: 64px;
  text-align: center;
  color: var(--white);
}
.property5 {
  position: absolute;
  top: 70.83%;
  left: 17.5%;
  line-height: 20px;
  font-weight: 300;
}
.property-module-shield5 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module5,
.revenue-module-child3 {
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module-child3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-aliceblue);
  border: 1px solid var(--rsi-blue);
  box-sizing: border-box;
}
.revenue9 {
  position: absolute;
  top: 70.83%;
  left: 16.25%;
  line-height: 20px;
}
.revenue-module5 {
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
  color: var(--rsi-blue);
}
.adv-search-button-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div155 {
  position: absolute;
  top: 30%;
  left: 25%;
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
}
.adv-search-button5,
.dashboard-button5 {
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: var(--regular-heading-6-size);
  font-family: var(--font-font-awesome-6-pro);
}
.dashboard-button5 {
  top: 70px;
}
.rev-x-logo-svg5 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation5 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div157 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
}
.bookmarks-button5 {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--light-heading-5-size);
  font-family: var(--font-font-awesome-6-pro);
}
.blue-nav-bar5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 320px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  color: var(--white);
}
.my-work-dashboard-v1 {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 1266px;
  overflow: hidden;
  text-align: left;
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--color-black);
  font-family: var(--semi-bold-paragraph-small);
}
@media screen and (max-width: 1200px) {
  .my-work-dashboard-v1-child {
    position: absolute;
    top: 260px;
  }
  .my-work-dashboard-v1-child2 {
    position: absolute;
    top: 290px;
  }
  .application-header-v33,
  .page-header3,
  .tenant-navigation-drawers1 {
    position: fixed;
  }
}
