@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.revenue-drawer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 240px;
  height: 800px;
}
.mask-group-icon {
  position: absolute;
  top: 752px;
  left: 0;
  width: 240px;
  height: 48px;
}
.div78 {
  position: relative;
  font-size: var(--semi-bold-paragraph-small-size);
  line-height: 20px;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
}
.single-item4 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.navigation-stack-child2 {
  position: relative;
  border-top: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.channels,
.configuration {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.channels {
  flex: 1;
  text-decoration: underline;
}
.configuration {
  align-self: stretch;
  font-size: var(--component-alert-title-size);
  color: var(--gray);
}
.generate-id-configuration {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 171px;
  flex-shrink: 0;
}
.div80 {
  position: relative;
  line-height: 20px;
  font-family: var(--font-font-awesome-6-pro);
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame1,
.group2 {
  width: 208px;
  gap: var(--gap-base);
}
.frame1 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.group2 {
  font-size: var(--semi-bold-paragraph-small-size);
  color: var(--white);
}
.group2,
.navigation-stack1,
.scrollable-pane1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-stack1 {
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.scrollable-pane1 {
  position: absolute;
  top: 128px;
  left: 16px;
  height: 672px;
  overflow-y: auto;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-aliceblue-100);
}
.recently-used1 {
  position: relative;
  line-height: 20px;
}
.chip-active2,
.chip-active3 {
  position: absolute;
  top: 72px;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.chip-active2 {
  left: 115px;
  border: 1px solid var(--revx-blue);
}
.chip-active3 {
  left: 14px;
  background-color: var(--rsi-blue);
}
.search-field3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 208px;
  height: 40px;
}
.start-typing3 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-wrapper1 {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field3,
.revenue-drawer {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 208px;
  height: 40px;
}
.revenue-drawer {
  top: 0;
  left: 80px;
  width: 240px;
  height: 800px;
}
.property-module-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rsi-blue);
}
.property3 {
  position: absolute;
  top: 70.83%;
  left: 17.5%;
  font-size: var(--semi-bold-paragraph-small-size);
  line-height: 20px;
  font-weight: 300;
  font-family: var(--semi-bold-paragraph-small);
  color: var(--white);
  text-align: center;
}
.property-module-shield3 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.property-module3:hover .property-module-child1,
.revenue-module-child1 {
  background-color: var(--color-gray-100);
}
.revenue-module-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.revenue-module3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
}
.adv-search-button-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div102 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.adv-search-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.adv-search-button3:hover .adv-search-button-child1 {
  background-color: var(--white);
}
.adv-search-button3:hover .div102 {
  color: var(--revx-blue);
}
.dashboard-button-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div103 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.dashboard-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.dashboard-button3:hover .dashboard-button-child1 {
  background-color: var(--white);
}
.bookmarks-button3:hover .div104,
.dashboard-button3:hover .div103 {
  color: var(--revx-blue);
}
.rev-x-logo-svg3 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation3 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div104 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  font-size: var(--light-heading-5-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.bookmarks-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
}
.bookmarks-button3:hover .dashboard-button-child1 {
  background-color: var(--white);
}
.blue-nav-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers-reve {
  position: relative;
  width: 320px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: center;
  font-size: var(--component-alert-title-size);
  color: var(--white);
  font-family: var(--semi-bold-paragraph-small);
}
.tenant-navigation-drawers-reve.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1200px) {
  .blue-nav-bar3 {
    position: fixed;
  }
}
